<configuration>

    <springProperty name="PL_LOG_PATH" source="log.path" defaultValue="./logs" /> <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${PL_LOG_PATH}/planner.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>

    <root level="INFO">
        <appender-ref ref="ROLLING_FILE" />
    </root>

</configuration>